<div id="point-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= title %></h4>
      </div>
      <%= form_for @p, remote: true do |f| %>
        <div class="modal-body">
          <div class="form-group">
            <label class="control-label col-sm-6">Escoja Tecnologia: </label>
            <%= f.select :technology_id, options_for_select(Technology.all.collect { |t| [t.descripcion, t.id]}), {:include_blank => true}, class: "form-control input-lg"%>
          </div>
          <div class="form-group">
            <%= f.text_field :serial, class: "form-control input-lg", placeholder: "Ingrese el serial" %>
          </div>
          <div class="form-group">
            <%= f.text_field :celda, class: "form-control input-lg", placeholder: "Ingrese la Celda" %>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.submit "Modificar", class: "btn btn-danger btn-lg btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
