<div class="container">
  <div class="row">
    <% unless signed_in? %>
    <h1 style="font-family:Dosis;" aling="center">WikiPuntos ® </h1>
    <% end %>
    <div class="col-sm-3 col-sm-offset-0" style="margin-top:30px">
      <label>Buscar:</label>
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
        <input class="form-control" id="myInput" type="text" placeholder="Ingrese Información">
      </div>
      <div style="margin-top:40px">
        <label>Filtro de Zona y Centro de Costos:</label>




        











        <%= form_tag points_path, method: :get do %>
        <div class="form-group">
          <%= select_tag :zone_id, options_from_collection_for_select(Zone.all, "id", "nombre", params[:zone_id]), prompt: "Zonas", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= select_tag :center_id, options_from_collection_for_select(Center.all, "id", "nombre", params[:center_id]), prompt: "Centro Costos", class: "form-control" %>
        </div>
        <%= submit_tag "Buscar", name: nil, class: "btn btn-danger btn-md" %>
        <% end %>
      </div>
    </div>
    <div class="col-sm-7 col-sm-offset-0">
      <% if signed_in? %>
        <div class="page-header">
          <h1>Listado Puntos de Venta</h1>
        </div>
        <div class="points" id="myDIV">
          <% @p.each do |pventa| %>
            <%= link_to pventa do %><div class="point clearfix" id="clearf" data-toggle="tooltip" title="Clic para mas información de este punto de venta">
              <div class="point-details">
                <span class="point-nombre"><%= image_tag(pventa.picture.url, :width => 50, :height => 50) %><b> COD:</b><%= pventa.codigo %>,<b> NOMBRE:</b> <%=pventa.nombre%></span>

              </div>
          </div><% end %>
          <% end %>
        </div>
      <%  else %>
        <video controls="" autoplay>
          <source src="video/Video_Record.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
      </div>
      <% end %>
    </div>
  </div>
