<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Aplicativo de Puntos de Ventas</h1>
      <table class="table">
        <tr>
          <th>Codigo</th>
          <th>Nombre</th>
          <th>Direccion</th>
          <th>Telefono</th>
          <th>Foto</th>
        </tr>
        <% @p.each do |pventa| %>
          <tr>
            <td><%= pventa.codigo %></td>
            <td><%= pventa.nombre %></td>
            <td><%= pventa.direccion %></td>
            <td><%= pventa.telefono %></td>
            <td><%= image_tag(pventa.picture_url, :width => 170, :height => 190) if pventa.picture.present? %></td> <!-- Este muestra la imagen -->
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
