<!DOCTYPE html>
<html>
  <head>
    <title>Hoja de Vida Punto de Venta: <%= @p.nombre %></title>
    <style>
      body {
        font-family: 'Roboto', sans-serif;
      }

      .t_encabezado {
        border: 1px solid black;
        border-collapse: collapse;
        margin: auto;
        width: 100%;
        padding: 10px;
        text-align: center;

      }
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </style>
  </head>
  <body>
    <table class=t_encabezado>
      <tr>
        <td rowspan="3">Columna 1</td>
        <td rowspan="3"><h1>HOJA DE VIDA PUNTO DE VENTA <%= @p.codigo %></h1></td>
        <td>Version:</td>
      </tr>
      <tr>
        <td>Fecha:</td>
      </tr>
      <tr>
        <td>Pagina:</td>
      </tr>
    </table>
    <br>
    <br>
    <br>
    <h2>DATOS BASICOS</h2>
    <table>
      <tr>
        <td><p><b>Foto: </b></p><img src="http://localhost:3000<%= @p.picture.url%>" alt="Foto del punto de venta" width="340" height="270"></td>
        <td style="padding: 15px">
            <p><b>Nombre: </b><%= @p.nombre %></p>
            <p><b>Codigo: </b><%= @p.codigo %></p>
            <p><b>Zona: </b><% c=Center.find(@p.center_id) %><% z=Zone.find(c.zone_id)%> <%=z.nombre %></p>
            <p><b>Centro de Costos: </b><%=c.nombre %></p>
            <p><b>Direccion: </b><%= @p.direccion %></p>
            <p><b>Telefono: </b><%= @p.telefono %></p>
            <p><b>Latitud: </b></p>
            <p><b>Longitud: </b></p>
        </td>
      </tr>
    </table>
    <h2>REFORMAS</h2>
    <table>
      <thead>
        <tr>
          <th>FECHA</th>
          <th>TIPO DE REFORMA</th>
          <th>PROYECTO</th>
          <th>OBRA</th>
          </tr>
      </thead>
      <% @p.reforms.each do |reform| %>
      <tr>
          <td><%= reform.fecha %></td>
          <td><%= (Modification.find(reform.modification_id)).descripcion %></td>
          <td><%= reform.proyecto %></td>
          <td><%= reform.obra %></td>
        <% end %>
      </table>
  </body>
</html>
