<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-header">
      <h4>PUNTO DE VENTA: CC: <% c=Center.find(@p.center_id) %><%=c.nombre%> > <%= @p.nombre %></h4><br/>
    </div>
  </div>
</div>

<div class="point-page">
  <header class="point-header">
    <div class="table-responsive">
      <table class="table-condensed">
        <tr>
          <!--Tratar de definir un estilo para estos encabezados-->
          <th><h3><b>FOTO</b></h3></th>
          <th><h3><b>UBICACION</b></h3></th>
          <th><h3><b>TELECOMUNICACIONES</b></h3></th>
        </tr>
        <tr>
          <td><%= image_tag(@p.picture.url, :width => 250, :height => 250) %></td>
          <td>
            <ul>
              <li><b>Nombre:</b> <%= @p.nombre %></li>
              <li><b>Codigo:</b> <%= @p.codigo %></li>
              <li><b>Zona:</b> <h4>(PENDIENTE)</h4></li>
              <li><b>Centro de Costos: </b><% c=Center.find(@p.center_id) %><%=c.nombre%></li>
              <li><b>Direccion: </b> <%= @p.direccion %></li>
              <li><b>Telefono: </b><%= @p.telefono %></li>
            </ul>
          </td>
          <td>
            <ul>
              <li><b>Tecnologia: </b><% t=Technology.find(@p.technology_id) %><%=t.descripcion%></ti>
              <li><b>Serial: </b><%= @p.serial %></ti>
              <li><b>Celda: </b><%= @p.celda %></ti>
            </ul>
        </tr>
      </table>
    </div>
    <div class="actions">
      <%= link_to "<span class='glyphicon glyphicon-file' data-toggle='tooltip' title='Generar Reporte'></span>".html_safe, point_path(@p, :format=>'pdf') %>
      <%= link_to "<span class='glyphicon glyphicon-pencil' data-toggle='tooltip' title='Modificar Informacion P.V.'></span>".html_safe, edit_point_path(@p) %>
      <%= link_to "<span class='glyphicon glyphicon-trash' data-toggle='tooltip' title='Eliminar P.V.'></span>".html_safe, @p, method: :delete, data: { confirm: "¿Estás seguro de eliminar este punto de venta?" } %>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="votes">
          <h2>Estado Actual</h2>
        </div>

        <div class="comments">
          <h2>Reformas y Mejoras</h2>
        </div>
      </div>
    </div>
  </div>
</div>
