<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3>PUNTO DE VENTA: <%= @p.nombre %></h3><br/>
    </div>
  </div>
</div>

<div class="point-page">
  <header class="point-header">
    <div class="table-responsive">
      <table class="table-condensed">
        <tr>
          <th><h3><b>Imagen</b></h3></th>
          <th><h3><b>Datos Basicos</b></h3></th>
        </tr>
        <tr>
          <td><%= image_tag(@p.picture.url, :width => 250, :height => 250) %></td>
          <td>
            <ul>
              <li><b>Nombre:</b> <%= @p.nombre %></li>
              <li><b>Codigo:</b> <%= @p.codigo %></li>
              <li><b>Zona:</b> <h4>(PENDIENTE)</h4></li>
              <li><b>Centro de Costos:</b> <h4>(PENDIENTE)</h4></li>
              <li><b>Direccion:</b> <%= @p.direccion %></li>
              <li><b>Telefono:</b><%= @p.telefono %></li>
            </ul>
          </td>
        </tr>
      </table>
    </div>
    <div class="actions">
      <%= link_to "<span class='glyphicon glyphicon-pencil'></span>".html_safe, edit_point_path(@p) %>
      <%= link_to "<span class='glyphicon glyphicon-trash'></span>".html_safe, @p, method: :delete, data: { confirm: "¿Estás seguro de eliminar este punto de venta?" } %>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="votes">
          <h2>Votos</h2>
        </div>

        <div class="comments">
          <h2>Comentarios</h2>
        </div>
      </div>
    </div>
  </div>
</div>
