<tr id="<%= active.id %>">
  <td><%= active.devices_id %></td>
  <td><%= active.id %></td>
  <td><%= active.serial %></td>
  <td><%= active.placa %></td>
  <td>
    <%= link_to "Modificar", edit_active_path(active), remote: true %>
  </td>
</tr>
