<div class="contenedor">
  <div class="newUs">Crear Cuenta</div>
  <div class="foldNU">

    <% if @user.errors.any? %>
      <div class="alert alert-danger">
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= form_for @user do |f| %>
      <%= f.email_field :email, placeholder: "Email" %>
      <%= f.password_field :password, placeholder: "Contraseña" %>
      <%= f.text_field :nombre, placeholder: "Nombre" %>
      <%= f.text_field :cedula, placeholder: "Cedula" %>
      <%= submit_tag('Crear Usuario') %>
      <%= link_to "Ingresar", login_path %>
    <% end %>
  </div>
</div>
