<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="page-header">
        <h1>Listado Completo Centros de Costos</h1>
        <div class="icons">
          <%= link_to "<span class='glyphicon glyphicon-arrow-left' data-toggle='tooltip' title='ir a Inicio'></span>".html_safe, points_path %>
          <%= link_to "<span class='glyphicon glyphicon-globe' data-toggle='tooltip' title='ir a Zonas (Para agregar un nuevo centro de costos)'></span>".html_safe, zones_path %>
        </div>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>NOMBRE</th>
            <th>ZONA</th>
            <th>ACCION</th>
          </tr>
        </thead>
        <% @c.each do |center| %>
        <tr>
          <td><%= center.nombre %></td>
          <td><% z=Zone.find(center.zone_id) %><%=z.nombre %></td>
          <td><div class="icons"><%= link_to "<span class='glyphicon glyphicon-pencil' data-toggle='tooltip' title='Modificar Centro Costo'></span>".html_safe, edit_center_path(center), remote: true %>
            <%= link_to "<span class='glyphicon glyphicon-trash' data-toggle='tooltip' title='Elimina el Centro de Costo y los puntos de venta que lo contienen'></span>".html_safe, center, method: :delete, data: { confirm: "¿Estás seguro de eliminar este centro de costos, y por consiguiente todos los puntos de venta que lo contienen?, de no ser asi cambie primero el centro de costos de los puntos de venta que la contienen y luego regrese a borrarlo" } %></td>
        </div></tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
