<tr id="<%= activate.id %>">
  <td><%= activate.ip %></td>
  <td><%= activate.serial %></td>
  <td><%= activate.placa %></td>
  <td>
    <%= link_to "Modificar", edit_center_path(center), remote: true %>
  </td>
</tr>
