<div id="reform-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= title %></h4>
      </div>
      <%= form_for @r, remote: true do |f| %>
        <div class="modal-body">
          <div class="form-group">
            <%= f.date_field :fecha, class: "form-control input-lg", placeholder: "Ingres la Fecha de la Reforma" %>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-6">Seleccione el tipo de Reforma a la que Corresponde: </label>
            <%= f.select :modification_id, options_for_select(Modification.all.collect { |m| [m.descripcion, m.id]},@r.modification_id), {:include_blank => true}, class: "form-control input-lg"%>
          </div>
          <div class="form-group">
            <%= f.text_field :proyecto, class: "form-control input-lg", placeholder: "Ingrese el Nombre del Proyecto" %>
          </div>
          <div class="form-group">
            <%= f.text_area :obra, class: "form-control input-lg", placeholder: "Describa la Obra Realizada" %>
          </div>
          <% if @visibilidad == "true" %>
          <div class="form-group" data-toggle='tooltip' title='Punto de Venta, Elemento deshabilitado'>
            <% p = Point.find(@r.point_id) %>
            <label class="control-label col-sm-6"><%=p.nombre%></label>
            <%= f.text_field :point_id, class: "form-control input-lg", value: p.id, readonly: @visibilidad %>
          </div>        
        <% elsif @visibilidad == "false"  %>
        <div class="form-group">
          <label class="control-label col-sm-6">Seleccione Punto de Venta: </label>
          <%= f.select :point_id, options_for_select(Point.all.collect { |p| [p.codigo, p.id]}), {:include_blank => true}, class: "form-control input-lg"%>
        </div>
        <% else %>
        <div class="form-group">
          <% p = Point.find(@r.point_id) %>
          <label class="control-label col-sm-6"><%=p.nombre%></label>
          <%= f.text_field :point_id, class: "form-control input-lg", value: p.id, readonly: "true" %>
        </div>
      </div>
      <% end %>
        <div class="modal-footer">
          <%= f.submit "Registrar", class: "btn btn-danger btn-lg btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
