<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-header icons">
        <% session[:return_to] ||= request.referer %>
        <h1>Actividades: <%= @r.modification.descripcion %> <% @r.point %></h1>
        <%= link_to "<span class='glyphicon glyphicon-arrow-left' data-toggle='tooltip' title='ir a Atras'></span>".html_safe, session.delete(:return_to) %>
        <%= link_to "<span class='glyphicon glyphicon-plus-sign' data-toggle='tooltip' title='Registrar Nueva Actividad'></span>".html_safe, new_activity_path(:reform_id=>params[:id], :visible => true ), remote: true %>
        <%= link_to "<span class='glyphicon glyphicon-scale' data-toggle='tooltip' title='Registrar Nueva Unidad de Medida'></span>".html_safe, new_unity_path, remote: true %>
      </div>
        <% if @r.activity.any? %>
        <% suma_total = 0 %>
          <% @r.activity.each do |activity| %>
          <% suma = 0 %>
            <% a = Activity.find(activity.id) %>
            <div class="page-header icons">
              <h4><b><%= activity.descripcion %></b></h4>
              <div class="icons"><%= link_to "<span class='glyphicon glyphicon-pencil' data-toggle='tooltip' title='Modificar Actividad'></span>".html_safe, edit_activity_path(activity), remote: true %>
                <%= link_to "<span class='glyphicon glyphicon-trash' data-toggle='tooltip' title='Elimina esta Actividad'></span>".html_safe, activity, method: :delete, data: { confirm: "¿Estás seguro de eliminar Actividad?" } %>
                <%= link_to "<span class='glyphicon glyphicon-list-alt' data-toggle='tooltip' title='Registrar Nueva Tarea'></span>".html_safe, new_task_path(:activity_id=>activity.id, :visible => true ), remote: true %>
                </div>
            </div>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>DESCRIPCION</th>
                  <th>REFORMA</th>
                  <th>CANTIDAD</th>
                  <th>UNIDADES</th>
                  <th colspan="2" text-align="right">V. UNITARIO</th>
                  <th colspan="2" text-align="right">V. TOTAL</th>
                  <th>ACCION</th>
                </tr>
              </thead>
              <% a.task.each do |task| %>
                <tr>
                  <td><%= task.descripcion %></td>
                  <td><%= @r.obra%> (<%= @r.fecha%>)</td>
                  <td align="left"><%= number_with_delimiter(task.cantidad, separator:',') %></td>
                  <td align="left"><% u=Unity.find(task.unity_id) %><%=u.sigla%></td>
                  <td align="left">$</td>
                  <td align="left"><%= number_with_delimiter(task.valor_unitario, delimiter:'.', separator:',') %></td>
                  <td align="left">$</td>
                  <td align="left"><% total= (task.cantidad)*(task.valor_unitario) %><%=number_with_delimiter(total, delimiter:'.', separator:',')%><% suma+=total %></td>
                  <td align="left"><div class="icons">
                        <%= link_to "<span class='glyphicon glyphicon-pencil' data-toggle='tooltip' title='Modificar Tarea'></span>".html_safe, edit_task_path(task), remote: true %>
                        <%= link_to "<span class='glyphicon glyphicon-trash' data-toggle='tooltip' title='Elimina esta Tarea'></span>".html_safe, task, method: :delete, data: { confirm: "¿Estás seguro de eliminar esta Tarea?" } %>
                      </div>
                  </td>
                </tr>
                <% end %>
            </table>
            <div class="panel panel-info col-sm-5 col-sm-offset-7">
              <table class="table">
                <tr>
                  <th>SUBTOTAL: </th>
                  <td align="left">$</td>
                  <td align="left"><%= number_with_delimiter(suma, delimiter:'.', separator:',') %></td>
                </tr>
              </table>
            </div>
            <% suma_total+=suma%>
          <% end %>
          <div class="col-sm-4 col-sm-offset-8"">
            <div class="panel panel-info" align="center">
              <div class="panel-heading"><b>TOTAL PROYECTO: </b></div>
              <div class="panel-body">$ <%= number_with_delimiter(suma_total, delimiter:'.', separator:',') %></div>
            </div>
          </div>
        <% else %>
        <div class="alert alert-info">
          <strong>Info!: </strong> Este proyecto de Reforma aun no tiene registrada ningun actividad, para agregar las actividades de clic en el icono <span class='glyphicon glyphicon-plus-sign'>
        </div>
        <% end %>
    </div>
  </div>
</div>
